* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/*HOME*/
.title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleColor {
    user-select: none;
    text-decoration: none;
    color: #000;
    text-shadow:
        7px 0 #FFF,
        -7px 0 #FFF,
        0 7px #FFF,
        0 -7px #FFF,
        7px 7px #FFF,
        -7px -7px #FFF,
        7px -7px #FFF,
        -7px 7px #FFF;
}

.titleDeco {
    font-size: 250%;
}

.titleTxt {
    font-size: 550%;
}

.titleChar {
    opacity: 1;
    filter: grayscale(100%);
    width: 512px;
    height: 512px;
    user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.middle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    z-index: 1;
    user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}

/*max 530 px screen width*/
.top {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    z-index: 2;
    user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  pointer-events: none;
}

/*NAVBAR*/
.navtop {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
}
.navLogo{
width:100px;
margin: 0px 20px 0px 20px;
}
.navLink{
max-width: 200px;
margin: 0px 20px 0px 20px;
}
.icon {
    width: 100px;
    margin-left: 25px;
    margin-right: 30px;
}
.profile{
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.navitem {
    color: #FFF;
    font-size: large;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: auto;
    text-decoration: none;

}

/*underline*/
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navIt {
    margin: 0 2rem;
}

.navLnk {
    text-decoration: none;
    color: #FFF;
}

.slide {
    display: block;
    position: relative;
    overflow: hidden;
}

.slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.slide:hover::after,
.slide:focus::after {
    transform: translate3d(0, 0, 0);
}
/*dropdown*/
/*dropdown*/
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 72px;
    height: 72px;
    transition: filter 200ms ease;
}

.dropbtn.active {
    filter: brightness(70%);
}

.dropdownBtn {
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: block; /* mantener block para animación */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 200ms ease, transform 200ms ease;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    width: 200px;
}

.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-content .ddlink {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 2;
    transition: color 300ms;
}

.dditem {
    display: block;
    position: relative;
    overflow: hidden;
}

.dditem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    transform: translate3d(100%, 0%, 0);
    transition: opacity 300ms, transform 300ms;
    z-index: 1;
}

.dditem:hover::after,
.dditem:focus::after {
    transform: translate3d(0, 0, 0);
}


/*PROFILE*/
.pfp {
    width: 216px;
    height: 216px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: #000 solid 3px;
    background-color: #FFF;

}

.pfpCont {
    width: 258px;
    height: 258px;
    object-fit: cover;
    margin: 30px 30px 30px 75px;
    /*min 945 screen px*/

}

.pfp:hover {
    cursor: pointer;
}


/*POSTS*/
.gif-toggle {
  width: 150px;
  height: 200px;
  object-fit: cover; /* o contain según prefieras */
}

.pixelated-image {
    image-rendering: pixelated;
    width: 150px;
    height: 200px;
    display: block;
    border: 1px solid black;
    cursor: pointer;
}

.nsfw-image {
    filter: blur(8px);
}

/* Estilo para la notificación */
#updateToast {
  visibility: hidden; /* oculto por defecto */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#updateToast.show {
  visibility: visible;
  opacity: 1;
}